/* CSS file */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body,
html {
  height: 100%;
  margin: 0;
}
.container{
  display: grid;
}
.search-icon,
.bell-icon,
.logo{
  width: 30px;
}
.header-1{
  display: flex;
}
.input-box{
  width: 600px;
  height: 30px;
  border:1px solid;
  border-radius: 30px;
}
.image-photo{
  width: 50px;
}
.image-with-name{
  display: flex;
}
.header-2{
  display: flex;
  justify-content: space-between;
}