/* CSS file */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body,
html {
  height: 100%;
  margin: 0;
  font-family:'Roboto','Times New Roman', Times, serif;
}
.container{
  display: grid;
  grid-template-columns: 350px 1fr;
}
.search-icon,
.bell-icon,
.logo{
  width: 30px;
}
.header-container,
.body{
  grid-column: 2/3;
}
.header-1{
  display: flex;
}
.input-box{
  width: 600px;
  height: 30px;
  border:1px solid;
  border-radius: 30px;
}
.image-photo{
  width: 50px;
}
.image-with-name{
  display: flex;
}
.header-2{
  display: flex;
  justify-content: space-between;
}
.three-images > img{
  width: 30px;
}
.card-container{
  width: 200px;
  background-color: aquamarine;
}
.dashboard-header-container{
  display: flex;
}
.dashboard-header-container > img {
  width: 30px;
}
.first-header-box > div > img {
  width: 30px;
}
.second-header-box > div >img{
  width: 30px;
}
.first-header-box > div,
.second-header-box > div {
  display: flex;
}